.footer{
background:#1f6d27;
color:rgb(18, 16, 16);
padding-top:40px;
}

.footer-container{
display:flex;
justify-content:space-around;
flex-wrap:wrap;
max-width:1200px;
margin:auto;
padding:20px;
}

.footer-section{
width:220px;
margin:10px;
}

.footer-section h2,
.footer-section h3{
margin-bottom:15px;
color:#110a0a;
}

.footer-section p{
font-size:14px;
line-height:1.6;
}

.footer-section ul{
list-style:none;
padding:0;
}

.footer-section ul li{
margin-bottom:8px;
}

.footer-section ul li a{
color:#0b0808;
text-decoration:none;
transition:0.3s;
}

.footer-section ul li a:hover{
color:#f7f3f3;
}

.social-icons{
margin-top:10px;
}

.social-icons a{
margin-right:10px;
font-size:20px;
text-decoration:none;
color:rgb(15, 5, 5);
transition:0.3s;
}

.social-icons a:hover{
color:#170a0a;
}

.footer-bottom{
text-align:center;
padding:15px;
border-top:1px solid #333;
font-size:14px;
margin-top:20px;
}
